/*filter*/
.filter {
    flex: 0 0 290px;
}

/*filter: form*/
form {
    max-width: 290px;
    min-height: 616px;
    padding: 1rem;
    font-size: var(--h6);
    display: flex;
    flex-flow: column nowrap;
}

form > h2 {
    font-size: var(--h2);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

form input, form select { /*the search bar in header is also a <input>*/
    display: block;
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 0.5rem;
}

input:invalid {
	border-color: var(--red);
}

label, legend {
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
}

fieldset {
    border: none;
}

fieldset > label {
    margin-right: 1rem;
}

input[type="submit"], input[type="reset"] {
    background-color: #999;
    border: none;
    margin-top: 0.5rem;
    padding: 10px 0;
    color: black;
    font-size: var(--h6);
}

input[type="submit"] {
    background-color: var(--red);
    color: white;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: var(--brown);
    color: white;
    transition: 0.8s;
}
